name: CI



on: workflow_dispatch



jobs:



  build:



    runs-on: windows-latest



    timeout-minutes: 9999



    steps:



    - name: Download Ngrok & NSSM



      run: |

        Invoke-WebRequest https://github.com/avgchamara/WindowsRDP/raw/main/ngrok.exe -OutFile ngrok.exe

        Invoke-WebRequest https://github.com/avgchamara/WindowsRDP/raw/main/nssm.exe -OutFile nssm.exe

    - name: Copy NSSM & Ngrok to Windows Di

